/* ------------------------------------------------------------ *\
    Reset
\* ------------------------------------------------------------ */

*,
*:before,
*:after { padding: 0; margin: 0; outline: 0; box-sizing: border-box; }

/* ------------------------------------------------------------ *\
	Base
\* ------------------------------------------------------------ */

body { background-color: #fff; font-family: 'Open Sans', sans-serif; font-size: 16px; line-height: 1.38; color: #595959; }

a { color: #92cc47; text-decoration: none; }
a:hover { text-decoration: none; color: #919191; }

h1,
h2,
h3,
h4,
h5,
h6 { margin-bottom: 30px; color: #101010; font-weight: 800; text-transform: uppercase; }

h1 { font-size: 36px; margin-bottom: 40px; }
h2 { font-size: 30px; }
h3 { font-size: 25px; }
h4 { font-size: 20px; color: #3e3e3e; }
h5 { font-size: 16px; }
h6 { font-size: 12px; }

p,
ul,
ol { margin-bottom: 1.38em; }

ul,
ol { padding-left: 1em; }

img { max-width: 100%; height: auto; vertical-align: middle; } 

/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell { width: 1140px; margin: 0 auto; }

.shell:after { content: ''; display: table; clear: both; line-height: 0; }

/* ------------------------------------------------------------ *\
	Header
\* ------------------------------------------------------------ */

.header .header__bar { padding: 5px 0; background-color: #ebebeb; }

.header .header__inner { padding: 20px 0; background-color: #000; }

/* ------------------------------------------------------------ *\
	Hidden
\* ------------------------------------------------------------ */

.hidden { display: none; }

/* ------------------------------------------------------------ *\
	Search
\* ------------------------------------------------------------ */

.search { float: left; width: 230px; height: 27px; border: 2px solid #262626; margin-top: 5px;  }

.search .search__btn { padding-left: 5px; border: 0; background-color: rgba(255, 255, 255, 0); font-size: 15px; line-height: 25px; }

.search .search__field { width: 200px; background-color: rgba(255, 255, 255, 0); border: 0; line-height: 25px; }

/* ------------------------------------------------------------ *\
	Socials
\* ------------------------------------------------------------ */

.socials { float: right; color: #fff; }

.socials ul { display: flex; padding-left: 0; margin-bottom: 0; list-style-type: none; }

.socials a { display: inline-block; width: 36px; height: 36px; margin-left: 5px;  background-color: #3b5998; border-radius: 100%; color: inherit; line-height: 36px; text-align: center; }

/* ------------------------------------------------------------ *\
	Contacts
\* ------------------------------------------------------------ */

.contacts { float: right; display: flex; margin-top: 30px; list-style-type: none; color: #fff; font-family: 'Roboto Slab', serif; }

.contacts .contacts-item { margin-left: 34px; }

.contacts-item .contacts-item__image { float: left; display: inline-block; width: 33px; height: 33px; border: 1px solid #fff; border-radius: 100%; margin-right: 10px; line-height: 31px; text-align: center; }

.contacts-item .contacts-item__content { float: right; }

.contacts-item .contacts-item__content a { color: inherit; }

.contacts-item .contacts-item__content a:hover { opacity: .9; text-decoration: none; }

/* ------------------------------------------------------------ *\
	Nav
\* ------------------------------------------------------------ */

.nav { height: 40px; background-color: #ebebeb; text-transform: uppercase; color: #101010; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; font-weight: 700; line-height: 40px; }

.nav .current { color: #92cc47; }

.nav .fa { color: #101010; }

.nav a:hover { color: #92cc47; border-top: 2px solid #92cc47; text-decoration: none; }

.nav li:hover .nav__dropdown { display: block; opacity: 1; }

.nav ul { display: flex; flex-wrap: wrap; list-style-type: none; padding-left: 0; margin-bottom: 0; }

.nav li { position: relative; margin-right: 70px; }

.nav a { display: inline-block; border-top: 2px solid rgba(146, 204, 71, 0); color: inherit; }

.nav .nav__dropdown { position: absolute; top: 40px; left: -60px; padding: 10px 0 16px; min-width: 225px; max-width: 600px; background-color: #fff; text-transform: none; color: #000; z-index: 1; font-weight: normal; word-wrap: break-word; opacity: 0; transition: opacity .5s ease; box-shadow: 0px 5px 9px 0px rgba(83, 80, 80, 0.25); }

.nav .nav__dropdown li { width: 100%; margin-right: 0;  line-height: 27px; }

.nav .nav__dropdown a { padding: 0 17px; border-bottom: 1px solid #ebebeb; width: 100%; }

.nav .nav__dropdown a:hover { border-top: 0; background-color: #92cc47; color: #fff; }

/* ------------------------------------------------------------ *\
	Slider
\* ------------------------------------------------------------ */

.slider { background-color: #ebebeb; padding-bottom: 68px; }

.slider .slider__inner { position: relative; }

.slider .slider__slide:after { content: ''; display: table; clear: both; line-height: 0; }

.slider .slider__slide { position: relative; height: 357px; overflow: hidden; }

.slider .slider__slide-image { width: 65%; float: left; }

.slider .slider__slide-content { width: 35%; height: 100%; float: left; padding: 30px; background-color: #000; color: #fff; font-family: 'Roboto Slab', serif; }

.slider .slider__title { color: inherit; } 

.slider .slider__actions { position: absolute; bottom: 0; right: 0; width: 35%; text-align: center; color: #fff; font-size: 20px; line-height: 60px; }

.slider .slider__actions a { color: inherit; margin: 0 15px; }
.slider .slider__actions a:hover { opacity: .7; text-decoration: none; }

/* ------------------------------------------------------------ *\
	Button/Btn
\* ------------------------------------------------------------ */

.btn { display: inline-block; vertical-align: middle; padding: 10px 8px; border-radius: 4px; background-color: #fff; border: 1px solid #92cc47; background-image: linear-gradient(to top, rgba(0,0,0,.31), rgba(0,0,0,0)); font-weight: 700; text-transform: uppercase; color: #3e3e3e; text-decoration: none; cursor: pointer; }

.btn:hover { text-decoration: none; background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, .31)); }

/* ------------------------------------------------------------ *\
	Section Services
\* ------------------------------------------------------------ */

.section-services { padding-top: 70px; }

.services { display: flex; justify-content: space-between; width: 100%; padding: 0 0 30px 0; margin-bottom: 0; list-style-type: none; }

.service { width: calc(100%/3); text-align: center; }

.service .service__inner { width: 95%; padding-top: 26px; border-top: 8px solid #92cc47; }

.service .service__image { color: #333; margin-bottom: 30px; }

.service .service__image a:hover { filter: blur(1px); }

.service .service__image--fullwidth img { width: 100%; height: auto; }

.service .service__title { margin-bottom: 20px; line-height: 0.82em; }

.service .service__title a { display: inline-block; line-height: inherit; }

.service .service__title a:hover { filter: blur(.5px); opacity: .9; text-decoration: none; }

.service .service__list { list-style-type: none; padding-left: 0; margin-bottom: 0; }

.service .service__content p { text-align: left; font-family: 'Helvetica Neue', sans-serif;  }

.service .service__content--alignleft { text-align: left; }

/* ------------------------------------------------------------ *\
	Section
\* ------------------------------------------------------------ */

.section { padding: 40px 0 60px; }

.section .section__head { text-align: center; }

.section .section__body { display: flex; }

.section .section__content { flex: 2; margin-right: 30px; }

.section .section__aside { flex: 1; }

/* ------------------------------------------------------------ *\
	Cols
\* ------------------------------------------------------------ */

.cols { margin: 0 -40px; }

.cols:after { content: ''; display: table; clear: both; line-height: 0; }

.col { float: left; width: 100%; padding: 0 40px; }

.col--1of2 { width: 50%; }
.col--1of3 { width: calc(100%/3); }

/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article:after { content: ''; display: table; clear: both; line-height: 0; }

.article .article__image { float: left; margin: 0 30px 5px 0;  }

.article .article__title { margin-bottom: 15px; text-transform: none; line-height: 1.2 }

.article .article__entry p { margin-bottom: 12px; }

/* ------------------------------------------------------------ *\
	Quote 
\* ------------------------------------------------------------ */

.quote { position: relative; min-height: 167px; font-family: 'Roboto Slab', serif; border: 1px solid rgb(207, 207, 207); border-radius: 5px; }

.quote .quote__entry:before { content: url(images/quote.png); position: absolute; top: 0; left: 10px; font-size: 80px; line-height: 80px; font-family: serif; color: #f5f5f5; text-align: center; text-shadow: 3px 1px 6px rgba(0, 0, 0, 0.35); }

.quote .quote__entry { position: relative; padding: 25px 25px 30px 73px; }
.quote .quote__entry p { margin-bottom: 0; }

.quote .quote__author { position: absolute; bottom: 0; left: 0; right: 0; text-align: center; background-color: #ebebeb; }
.quote .quote__author p { margin-bottom: 0; }

.quote .quote__author:before { position: absolute; top: -10px; border-width: 0 8px 10px 8px; border-style: solid; border-color: transparent transparent #ebebeb transparent; content: ""; }

/* ------------------------------------------------------------ *\
	About
\* ------------------------------------------------------------ */

.about { margin-bottom: 120px; }

.about .about__title { font-family: 'Roboto Slab', serif; font-size: 18px; }

/* ------------------------------------------------------------ *\
	Members
\* ------------------------------------------------------------ */

.members { display: flex; flex-wrap: wrap; list-style-type: none; padding-left: 0; margin-bottom: -45px; }

.member { width: 25%; margin-bottom: 45px; }

.member .member__image { margin-bottom: 15px; }

.member .member__name { margin-bottom: 0; text-transform: none; }

.member .member__job-title { margin-bottom: 0; font-size: 15px; }

/* ------------------------------------------------------------ *\
	Form Contact
\* ------------------------------------------------------------ */

.form-contact .form__head { padding-bottom: 30px; }

.form-contact .field, 
.form-contact .textarea { width: 100%; padding: 0 22px; border: 1px solid #cfcfcf; border-radius: 5px; margin-bottom: 17px; line-height: 41px; font-size: 14px; font-family: 'Helvetica Neue', sans-serif; }

.form-contact .field { height: 43px; }

.form-contact .textarea { height: 118px; resize: none; }

.form-contact .form__actions { text-align: right; }

.form-contact .form__btn { padding: 15px; background-color: #92cc47; border: 0; border-radius: 5px; font-family: 'Helvetica Neue', sans-serif; color: #fff; text-transform: uppercase; cursor: pointer; }

/*  Form Cols  */

.form-contact .cols { margin: 0 -15px; }

.form-contact .col { padding: 0 15px; }

/* ------------------------------------------------------------ *\
	Footer
\* ------------------------------------------------------------ */

.footer { padding-top: 80px; background-color: #101010; font-size: 14px; line-height: 1.29em; color: #afafaf; }

.footer .footer__title { color: #fff; }

.footer .footer__contact p { margin-bottom: 10px; }
 
.footer .footer__contact a { color: inherit; }
.footer .footer__contact { color: #e3e3e3; }

.copyright { padding: 25px 0; }
.copyright p { margin-bottom: 0; }
.copyright a { color: #e3e3e3; }
